<% include ../header %>

<!--socket io-->
<script src="/socket.io/socket.io.js"></script>
<script src="/socket.io-stream.js"></script>
<script src="/javascripts/avatar.js"></script>

<!--form begain-->
<div style="width: 900px; margin: 30px auto">
    <div class="ui blue  piled segment">
        <h4 class="ui left floated header">
            头像修改
        </h4>

        <div class="ui clearing divider"></div>


            <div id="upload_ok" style="display:none" class="ui green message">
                <p>修改成功</p>
            </div>


            <div id="upload_err" style="display:none" class="ui error message">
                <p>修改失败</p>
            </div>

            <form method="post"  class="ui form segment">
                <input id="user_id" value="<%=user.id%>"   type="hidden">

                <div class="field">
                    <label>新头像</label>
                    <div id="img-add" class="ui tiny teal button">选择图片</div>
                    <input id="files" style="display:none" name="files" type="file">
                </div>

                <div class="field">
                    <div class="ui medium images" id="img_box"></div>
                </div>

                <div id="bar" class="ui small blue progress" style="display: none">
                    <div  class="bar"></div>
                </div>

                <div id="post" class="ui blue small button">上传</div>

            </form>




    </div>
    <!--a category end-->






</div>
<!--form end-->

<% include ../footer %>