<% include ../header %>

<!--form begain-->
<div style="width: 900px; margin: 30px auto">
    <div class="ui blue  piled segment">
        <h4 class="ui left floated header">
            密码修改
        </h4>

        <div class="ui clearing divider"></div>

            <% if(message.success) {%>
            <div class="ui green message">
                <p><%=message.success%></p>
            </div>
            <% } %>
            <% if(message.danger) {%>
            <div class="ui error message">
                <p><%=message.danger%></p>
            </div>
            <% } %>
            <form method="post" action="/users/change-password" class="ui form segment">


                <div class="field">
                    <label>旧密码</label>
                    <input name="old_password" type="password">
                </div>

                <div class="field">
                    <label>新密码</label>
                    <input name="new_password" type="password">
                </div>

                <div class="field">
                    <label>确认新密码</label>
                    <input name="new_password2" type="password">
                </div>


                <input type="submit" value="提交" class="ui blue submit button">
            </form>




    </div>
    <!--a category end-->






</div>
<!--form end-->

<% include ../footer %>